
body {
    height: 100%;
    background-color:#FFFFE0;

}
/* ***************************
    Main Page
******************************
*/

/* ---------------------------------------
    Hobbies Image Color Randomizer
------------------------------------------*/
.hobby_image{
    background-color: #1d5ade;
    border-radius:50%;
    -webkit-animation: random 20s infinite;
    animation: random 20s infinite; 

    
}
@keyframes  random {
   15% { background-color: #de201d; } 
   30% { background-color: goldenrod; } 
   45% { background-color: green; } 
   60% { background-color: teal; }
   75% { background-color: purple; }  
}
/* ---------------------------------------
    End
------------------------------------------*/

/* ---------------------------------------
   Hobby Name Plate
------------------------------------------*/

.hobby_name {
    background: white;
    width: 100%;
    box-shadow: 5px 4px #de201d;

   
}

/* ---------------------------------------
    End
------------------------------------------*/

/* ---------------------------------------
    Events Container
------------------------------------------*/
.hobby_event_img_main {
    background-color:olivedrab;
    width: 54.5%;
}

.host_name_hobby_main {
    font-size: 20px;
    background-color: white;
}



.events_container_main {
    background-color: #1d5ade;
}

.hobby_event_body_main {
    display: flex;
    flex-direction: column;
    background-color: #1d5ade;
    border: 10px solid white;
}

/* ---------------------------------------
    End
------------------------------------------*/

/* ---------------------------------------
    Buttons Under Hobbies
------------------------------------------*/

.hobbies_buttons {
    display: flex;
    justify-content: space-around;
    background: white;
    width: 100%;
    box-shadow: 5px 4px #de201d;


}

/* ---------------------------------------
    Hobby Videos 
------------------------------------------*/

.videos_title_plate {
    background-color: white;
    width: 90%;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: auto;
    box-shadow: 5px 4px #1d5ade;
}

.videos_details_plate {
    background-color: white;
    width: 90%;
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 4px darkorange;
}


/* ---------------------------------------
    End
------------------------------------------*/

/* ***************************
   Profile Page
****************************** */

body {
    background-color: #FFFFE0;
}

≈

body{
    background-color: #FFFFE0;
}

/* ***************************
   Single Event Page
****************************** */



.single_event_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    background-image:url("../static/single_event_pic2.jpg");
    background-size: cover
}

.single_event_image_wrapper{
    background-color:olivedrab;
    width: 48.5%;
}

#single_event_image {
    width: auto;
    margin-left: 10%;
}

.event_details_and_comment_forms {
    display: flex;
    flex-direction: column;
    text-align: center;;
}

.single_event_details_title_cards {
    
    background-color: white;
    color:black;
    box-shadow: 5px 4px darkorange;

}

.create_comment_form {
    width: 50%;
    margin-left: 25%;
}

.edit_event_modal_header {
    background-image: url("../static/single_hobby_page_pic.jpg");
}



