
{% block content %}

{% for event in events %}
{%if (event.hobby_id == user_hobby.hobby_id) %}
<div class="card  events_container_main">
<div class="col">
<a href="{{ url_for('events', eventid = event.id) }}">
    <img class='card-img-top hobby_event_img_main' src="../static/hobbs4.0.png" width="200px" length="200px">
</a>
</div>
<div class="card-body hobby_event_body_main">
<span class="card-text host_name_hobby_main">
        {% if current_user.id == event.created_by.id %}
            Hosted By:<a href="{{url_for('user_profile')}}" style="color:#1d5ade"> {{event.created_by.username}} </a>
        {% else %}
            Hosted By:<a href="{{url_for('user_profile', userid = event.created_by.id)}}">{{event.created_by.username}}</a>
        {% endif %}
</span>
<h1 style="color:yellow;">{{event.title}}</h1>
<h3 style="background:white; border: 2px solid black;">Event Location - <span>{{event.location}}</span></h3>
<br>
<h3 style="color:yellow">Start Time</h3>
<h4 style="background-color: red; color: black;">{{event.event_time}}</h4>
<br>
<h4 style="color:yellow">Event Details</h4>
<p style="background-color:white; border: 2px solid black;">{{event.details}}
</p>
</div>
</div>
<br>

<br>

<br>



{% endif %}
{% endfor %}

{% endblock %}