
{% block content %}

{% for event in events %}
{%if (event.hobby_id == user_hobby.hobby_id) %}
<div class="card  events_container_main">
<div class="col">
<a href="{{ url_for('events', eventid = event.id) }}">
    <img class='card-img-top hobby_event_img_main' src="../static/hobbs4.0.png" width="200px" length="200px">
</a>
</div>
<div class="card-body hobby_event_body_main">
<span class="card-text host_name_hobby_main">
        {% if current_user.id == event.created_by.id %}
            Hosted By:<a href="{{url_for('user_profile')}}" style="color:#1d5ade"> {{event.created_by.username}} </a>
        {% else %}
            Hosted By:<a href="{{url_for('user_profile', userid = event.created_by.id)}}">{{event.created_by.username}}</a>
        {% endif %}
</span>
<h2 style="color:yellow;">{{event.title}}</h2>
<h4 style="background:white; border: 2px solid black;">Event Location - <span>{{event.location}}</span></h4>
<br>
<h5 style="background-color: red; color: yellow;">{{event.event_time}}</h5>
<br>
<h6>Event Details</h6>
<p style="background-color:white; border: 2px solid black">{{event.details}}
</p>
</div>
</div>

{% endif %}
{% endfor %}

{% endblock %}