<!-- Macro for form fields -->

{% macro render_field(field) %}
<div class="field">
  {% if field.errors %} {% for error in field.errors %}
  <div class="notification error">{{ error }}</div>
  {% endfor %} 
  {% endif %}
  
  {{ field(placeholder=field.label.text, class='input') }}
</div>
{% endmacro %} 

{% macro render_all_hobbies(hobby) %}
<div>
  {{hobby.name}}
  <br>
  <a href="{{url_for('add_user_hobbies', hobbyid=hobby.id)}}"><button>Add</button></a>
</div>

{% endmacro %} 

{% macro render_user_hobbies(user_hobby,hours_spent_form) %}

<div>
  {{user_hobby.hobby.name}}
  <!-- {{user_hobby.hours_spent}} -->
  <!-- {{hours_spent_form.hours_spent}} -->
  <!-- <a href="{{url_for('hours_spent_increment', user_hobbyid=user_hobby.id)}}">
    <button>+</button>
  </a>  -->

  <br>
  <a href="{{url_for('delete_user_hobbies', user_hobbyid=user_hobby.id)}}">
    <button>Delete</button></a>

</div>

{% endmacro %} 