<!-- Macro for form fields -->

{% macro render_field(field) %}
<div class="field">
  {% if field.errors %} {% for error in field.errors %}
  <div class="notification error">{{ error }}</div>
  {% endfor %} 
  {% endif %}
  
  {{ field(placeholder=field.label.text, class='input') }}
</div>
{% endmacro %} 

{% macro render_all_hobbies(hobby) %}
<div>
  {{hobby.name}}
  <br>
  <a href="{{url_for('add_user_hobbies', hobbyid=hobby.id)}}"><button>Add</button></a>
</div>

{% endmacro %} 

{% macro render_user_hobbies(user_hobby) %}

<div>
  {{user_hobby.hobby.name}}


  <br>
    <a href="{{url_for('delete_user_hobbies', user_hobbyid=user_hobby.id)}}">
      <button>Delete</button></a>
</div>

{% endmacro %} 

{% macro render_user_followers(user_follower) %}

<div>
  <a href="{{url_for('user_profile', userid=user_follower.follower.id)}}"">
    <h1>{{user_follower.follower.username}}</h1>
   </a>
</div>

{% endmacro %} 

{% macro render_user_followings(user_following, current_user) %}

<div>
  <a href="{{url_for('user_profile', userid=user_following.user.id)}}">
    <h1>{{user_following.user.username}}</h1>
   </a>

</div>

{% endmacro %} 



{% macro render_non_current_user_hobbies(user_hobby) %}

<div>
   <h4>{{user_hobby.hobby.name}}</h4>
  </div>

{% endmacro %} 

{% macro render_edit_event_form(event) %}

<form method="POST" action="{{ url_for('events')}}">

    {{event_form.csrf_token}}
    {{ wtf.form_field(event_form.title,value=event.title)}}
    {{ wtf.form_field(event_form.location,value=event.location)}}
    {{ wtf.form_field(event_form.details,value=event.details)}}
    
   <label class='label level-item' value={{event.event_time}}>Start Time</label>
   <input id="event_time" type="date" name="event_time"/>
   <input type="submit"/>

</form> 



{% endmacro %} 

{% macro render_delete_event_button(event) %}

<a href="{{ url_for('delete_event',eventid = event.id)}}"><button class="btn btn-danger">Delete Event</button></a>

{% endmacro %} 

{% macro render_attend_event_button(attending,event) %}

{% if event.id in attending|map(attribute='event_id') %}
<a
  class="level-item button is-danger has-text-weight-semibold"
  href="{{url_for('unattend_event', eventid=event.id)}}"
  ><button class="btn btn-danger">Unattend</button></a
>
{% else %}
<a
  class="level-item button is-success has-text-weight-semibold"
  href="{{url_for('attend_event', eventid=event.id)}}"
  ><button class="btn btn-primary">Attend</button></a
>
{% endif %}

{% endmacro %} 

{% macro render_user_events_hosting(user_event) %}

<div>

  <h2>{{user_event.event.title}}</h2>

</div>


{% endmacro %} 


