{% extends "bootstrap/base.html" %}

{% block navbar %}

<nav class="navbar navbar-dark container" style="
background-color: #4d4d4d;
position:sticky;
display: flex;
width: 100%;
border-bottom: 1px solid;
margin:0px">
        
        <img class="float-left" alt="Responsive image" src="../static/Hobbs5.0.png" width="100" height="100" style="font-size:30px;">
        
        {% if current_user.is_authenticated %}

        <div class="container text-center" style="
        align-self: center;">
            <a class="nav-item navList" href="{{ url_for('home') }}" style="margin: 10px" ><button class="btn btn-primary">Home</button></a>
            <a class="nav-item navList" href="{{ url_for('main') }}" style="margin: 10px"><button class="btn btn-primary">Interests</button></a>
            <a class="nav-item navList" href="{{ url_for('user_profile') }}" style="margin: 10px"><button class="btn btn-primary">Profile</button></a>
        </div>
        <div style="align-self:center">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
        </div>
        {% else %}
        <div>
            login
        </div>
        {% endif %}

</nav>



{% endblock %}

