{% from 'macros.html' import render_field, render_all_hobbies, render_user_hobbies %} {% block content %}


<!DOCTYPE html>
 <html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>User Profile</h1>
        <img src="https://media1.giphy.com/media/GgbCiS1rMjGFy/giphy.gif?cid=790b76115ca67152596777326f811ac9"
             style="border-radius:50%"
        >
        <h2>{{user.fullname}}</h2>
        <h3>{{user.username}}</h3>
        <h3>{{user.bio}}</h3>

        <form method="POST" action="{{ url_for('edit_user')}}">
        {{form.username (value=user.username)}}
        {{form.fullname (value=user.fullname)}}
        {{form.bio (placeholder=user.bio)}}
        <input type="submit" value="Edit">
        </form>
        <a href="{{url_for('delete_user')}}">Delete Account</a>
        <br>
        <h2>User Hobbies</h2>
        User_Hobbies Here

        {% for user_hobby in user_hobbies %}
        {{ render_user_hobbies(user_hobby,hours_spent_form) }}
        {% endfor %}

        <h3>Add Hobbies</h3>
        <div>
            {% for hobby in hobbies %}
            {{ render_all_hobbies(hobby)}}
            {% endfor %}
        </div>

        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}
