{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'macros.html' import render_field, render_all_hobbies, render_user_hobbies %} 


{% block content %}
        {% include 'nav.html' %}
        <div class="container-fluid one user_profile" 
        style=
        "display: flex;
        width: 100%;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        background: lightgray;
        margin-top:0px"
        
        >

        <div class="container user-card" style="
        position: relative;
        display:flex;
        width: 100%;
        justify-content: center;
        background-image: linear-gradient(81deg,#de201d,transparent);
        background-color: #1d5ade;
        ">
        
        <div class="row" style="
        display:flex;
        justify-content: space-between; 
        margin: 20px 50px -50px; 
        background-color: white;
        width: 100%">
            
                <div class="col user_image">
                    <img src="../static/Hobbs3.0.png" width="150px" height="200px" style="border-radius:50%; background:yellow"/>

                </div>
                <div class="col user_info" style="
                text-align:center;
                align-self: center; 
                color:red;">
                    <h6>@{{user.username}}</h6>
                    <h3>{{user.fullname}}</h3>
                    <h5>{{user.bio}}</h5>

                </div>
                <div class="col" style="align-self:center">
                    <a href="{{ url_for('settings') }}"> 
                    <button  class="btn btn-primary" style="
                        border-radius:50%;
                        background-color: #1d5ade">
                        Edit Account</button>
                    </a>
                </div>


           

        </div>
    </div>
    <br>
    <br>

    {% include 'user_nav.html' %}


    <div class=" container user_hobbies_list">
        <h2>User Hobbies</h2>
        User_Hobbies Here

        {% for user_hobby in user_hobbies %}
        {{ render_user_hobbies(user_hobby,hours_spent_form) }}
        {% endfor %}



        
    </div>

    <div class="user_events_list" style="display:none">
        <h1>
            Hello
        </h1>
    </div>

 </div>

        {% block scripts %}
        {{super()}}
        <script src="../static/user_navbar.js"></script>
        {% endblock %}
        
{% endblock %}
