{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'macros.html' import render_field, render_all_hobbies, render_user_hobbies,render_non_current_user_hobbies,render_user_followers,render_user_followings,render_user_events_hosting %} 


{% block content %}
        {% include 'nav.html' %}
        <div class="container-fluid one user_profile" 
        style=
        "display: flex;
        width: 100%;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        margin-top:0px"
        
        >

        <div class="container user-card" style="
        position: relative;
        display:flex;
        width: 100%;
        border: 2px solid black;
        justify-content: center;
        background-image: linear-gradient(81deg,#de201d,transparent);
        background-color: #1d5ade;
        ">
        
        <div class="row" style="
        display:flex;
        justify-content: space-between; 
        margin: 20px 50px -50px; 
        border: 2px solid black;

        background-color: white;
        width: 100%">
            
                <div class="col user_image">
                    <img src="../static/Hobbs3.0.png" width="150px" height="200px" style="border-radius:50%; background:yellow"/>

                </div>
                <div class="col user_info" style="
                text-align:center;
                align-self: center; 
                color:red;">
                {% if current_user.id == user.id %}
                    <h6>@{{user.username}}</h6>
                    <h3>{{user.fullname}}</h3>
                    <h5>{{user.bio}}</h5>
                {% else %}

                    {% for user in user %}
                        <h6>@{{user.username}}</h6>
                        <h3>{{user.fullname}}</h3>
                        <h5>{{user.bio}}</h5>
                    {% endfor %}
                {% endif %}

                </div>

                {% if current_user.id == user.id %}
                <div class="col" style="align-self:center">
                    <a href="{{ url_for('settings') }}"> 
                    <button  class="btn btn-primary" style="
                        border-radius:50%;
                        background-color: #1d5ade">
                        Edit Account</button>
                    </a>
                </div>
                {% else %}
                    {% for user in user %}
                    {% if user_followers %}
                        {% for user_follower in user_followers %}
                            {% if user_follower.follower_id != not_current_user_id %}
                                    <div class="col" style="align-self:center">
                                            <a href="{{ url_for('unfollow_user', userid = user.id) }}"> 
                                            <button  class="btn btn-danger">
                                                Unfollow</button>
                                            </a>
                                        </div>  
                            {% else %}
                                <div class="col" style="align-self:center">
                                        <a href="{{ url_for('user_followers', userid = user.id) }}"> 
                                        <button  class="btn btn-primary" style="
                                            background-color: #1d5ade">
                                            Follow</button>
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <div class="col" style="align-self:center">
                                            <a href="{{ url_for('user_followers', userid = user.id) }}"> 
                                            <button  class="btn btn-primary" style="
                                                background-color: #1d5ade">
                                                Follow</button>
                                            </a>
                                        </div>
                                        {% endif %}
                                {% endfor %}
                {% endif %}


           

        </div>
    </div>
    <br>
    <br>

    {% include 'user_nav.html' %}

    <div class="d-flex flex-column">
    <div class=" col user_hobbies_list">
        <h2>User Hobbies</h2>

        {% if current_user.id == user.id %}
            {% for user_hobby in user_hobbies %}
            {{ render_user_hobbies(user_hobby) }}
            {% endfor %}
        {% else %}
            {% for user_hobby in user_hobbies %}
            {{ render_non_current_user_hobbies(user_hobby) }}
            {% endfor %}
        {% endif %}




        
    </div>

    <div class="col user_events_list" style="display:none;">

            {% for user_event in user_events %}
                {{render_user_events_hosting(user_event)}}
            {% endfor %}
            
    </div>

    <div class="col user_followers" style="display:none;">

        {% for user_follower in user_followers %}
            {% if current_user.id != user_follower.follower_id %}
                
                {{ render_user_followers(user_follower) }}
            {% else %}

                {% if not_current_user_id != user_follower.follower_id %}
                     {{ render_user_followers(user_follower) }}

                     {% endif %}
            {% endif %}
            {% endfor %}
    

    </div>

    <div class="col user_followings" style="display:none;">

            {% for user_following in user_followings %}
                {% if current_user.id != user_following.user %}
                    
                    {{ render_user_followings(user_following) }}
                {% else %}
    
                    {% if not_current_user_id != user_following.user %}
                         {{ render_user_followings(user_following) }}
    
                         {% endif %}
                {% endif %}
                {% endfor %}
        
    
        </div>



    </div>

 </div>

        {% block scripts %}
        {{super()}}
        <script src="../static/user_navbar.js"></script>
        {% endblock %}
        
{% endblock %}
