{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'macros.html' import render_edit_event_form,render_delete_event_button,render_attend_event_button %} 


{% block content %}

{% block scripts %}

<link rel="stylesheet" href="../static/style.css">

{{super()}}

{% endblock %}

{% include 'nav.html' %}

{% for event in events %}
<div class= "container single_event_page ">
<div class="imgwrapper single_event_image_wrapper">
    <img id="single_event_image" src="../static/hobbs4.0.png">
</div>
</div>
<div class=" event_details_and_comment_forms">

        <div class="card single_event_details_card_container">

                <div class="card-body single_event_details ">
                <span class="card-text single_event_details_title_cards">
                        {% if current_user.id == event.created_by.id %}
                            Hosted By:<a href="{{url_for('user_profile')}}" style="color:#1d5ade"> {{event.created_by.username}} </a>
                        {% else %}
                            Hosted By:<a href="{{url_for('user_profile', userid = event.created_by.id)}}">{{event.created_by.username}}</a>
                        {% endif %}
                </span>
                <br>
                <br>
                
                <span class="single_event_details_title_cards"> Hobby - {{event.hobby.name}} </span>
                <h1 class="single_event_details_title_cards">{{event.title}}</h1>
                <h3 class="single_event_details_title_cards" >Event Location - <span>{{event.location}}</span></h3>
                <br>
                <h3 >Start Time</h3>
                <h4 class="single_event_details_title_cards" >{{event.event_time}}</h4>
                <br>
                <h4 >Event Details</h4>
                <p class="single_event_details_title_cards" >{{event.details}}
                </p>
                </div>
            </div>
<br>

<br>
<form class="row create_comment_form" method="POST" action="{{ url_for('event_comments') }}">
    {{form.csrf_token}}
    {{ wtf.form_field(form.body)}}
    {{ form.eventid(value=event.id)}}
    <input type="submit"/>
</form>
<br>

<div class="row">

    {% if event.created_by.id == current_user.id %}
        {{ render_delete_event_button(event)}}

    <button class="btn btn-primary open_edit_event_button" type="button" data-toggle="modal" data-target="#edit_event_modal"> Edit Event </button>

    {% include 'edit_event_modal.html' %}


        {% else %}
            
                {{ render_attend_event_button(attending,event) }}

        {% endif %}


</div>



    {% for comment in comments %}
        {% if current_user.id == comment.user_id %}
        <div class="col">
            
        <h4>Posted By:
            <a href="{{ url_for('user_profile') }}">
                {{comment.user.username}}
                </a>
            </h4>
            <p>{{comment.body}}</p>
            <button class="btn btn-primary">Edit</button>

            <form class="row" method="POST" action="{{ url_for('event_comments', commentsid = comment.id) }}">
                    {{form.csrf_token}}
                    {{ wtf.form_field(form.body,placeholder=comment.body)}}
                    {{ form.eventid(value=comment.event_id)}}

                    <input type="submit"/>
                </form>
            <a href="{{ url_for('delete_comments', commentsid = comment.id, eventid = comment.event_id) }}"><button class="btn btn-danger">Delete</button></a>

        </div>

            {% else %}
            <div class="col">

            <h4>Posted By:
                    <a href="{{ url_for('user_profile', userid = comment.user_id) }}">
                        {{comment.user.username}}
                        </a>
                    </h4>
                    <p>{{comment.body}}</p>

            {% endif %}
    </div>



        {% endfor %}

{% endfor %}



{% endblock %}