{% extends "bootstrap/base.html" %}

{% block navbar %}

<div class=" container navbar" style="
display:flex; 
flex-direction:row;
justify-content: space-around;
border-bottom: 2px solid black;
font-weight: 700;
padding-top:10%">
    
    <a id="user_hobbies_button" style="
    color: #1d5ade;
    cursor: pointer;
    ">Hobbies - {{user_hobbies_count}}</a>  
    <a id="user_events_button" style="
    color: #1d5ade;
    cursor: pointer;
    ">Events - {{ user_events_count }}</a>
    <a id="user_followers_display_button" style="
    color: #1d5ade;
    cursor: pointer;
    ">Followers - {{ user_followers_count }}</a>   
    <a id="user_followings_display_button" style="
    color: #1d5ade;
    cursor: pointer;
    ">Following - {{ user_followings_count }}</a>  

</div>

{% block scripts %}
<script src="../static/style.css"></script>
{{super()}}

{% endblock %}

{% endblock %}

